/* START: Task 1 Styles */

table {
    width: 400px;
    height: 400px;
    table-layout: fixed;
    width:100%
}
td {
    text-align: center;
    word-wrap: break-word;
    border: 1px solid black;
    
}

.green { 
    background-color: green;
}

.blue { 
    background-color: blue;
}

.yellow { 
    background-color: yellow;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

.input {
    width: 400;
    /* border-color: black; */
}

.submit {
    width: 30;
}

.error {
    color: white;
    border-color: black;
    background-color: red;
}  

.red {
    border-color: red;
    outline: none;
    /* background-color: white; */
}

.success-sent {
    border-color: black;
    background-color: green;
}

.success {
    border-color: white;
    outline: none;
    background-color: white;
}

span {
    display: inline-block;
    border: 1px solid black;
    width: 225px;
    height: 40px;
    text-align: center;
    /* margin: auto;
    top: 50%; */
}

  :invalid {
    border: 1px solid red;
  }

/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* div {
    display: flex;
    justify-content: center;
} */

/* END: Task 3 Styles */
